* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-size: 1.01em;

    &::selection {
        background: $btn-active;
    }
}

#root {
    margin: auto;
    width: 100%;
}

body {
    width: auto;
    margin: 0;
}