.profil-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .options-profil-update,
    .options-profil {
        display: flex;
        align-items: center;
        width: 100%;

        li {

            width: 50%;
            padding-left: 5%;
        }
    }

    .options-profil-update {
        background: #000;
        color: #ffffff;



    }

    #UserPost {

        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .post-list {
        width: 100%;
    }

}

.profil-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 30px 2% 30px 2%;
    background: $bgupdate-profil;
}

.update-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;



    @include mobile-only {
        width: 100%;
    }

    h2,
    p {
        color: #ffffff;
    }

    // border-radius: 100%;

    .pic-container {
        width: 45%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 100%;
        // position: relative;

        @include mobile-only {
            height: 25%;
            width: 100%;
        }


        img {
            object-fit: cover;
            border-radius: 100%;
            background: radial-gradient(red, blue);
            width: 300px;
            height: 300px;

            @include mobile-only {

                width: 200px;
                height: 200px;
            }
        }
    }
}




.upload-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    label {
        color: #ffffff;
        padding: 0.3em;
        background: rgba(247, 244, 244, 0.493);
    }

    input[type=file] {
        background: $btn-active;
        border-radius: 5px;
        padding: 1em;
        width: 100%;

        @include mobile-only {
            width: 100%;
        }
    }
}

// #profil-list {
//     display: flex;
//     justify-content: center;
//     background: red;
//     width: 100%;
//     height: 60px;

//     ul {
//         display: flex;
//         justify-content: space-around;
//         align-items: center;
//         background: yellow;
//         width: 50%;



//     }
// }



.hidden {
    display: none;
}