//header
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    width: 100%;
    border-bottom: 2px inset $color-quaternary;

    .logo-container {
        object-fit: contain;
        width: 30%;

        img {
            height: 100%;
            width: 100%;
        }
    }
}