nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    border-bottom: 2px inset $color-quaternary;


    @include mobile-only {
        padding: 0;
    }



    .logo-container {

        width: 30%;
        height: 100%;

        @include mobile-only {
            width: 50%;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    ul {
        width: 50%;
        display: flex;
        width: 100%;
        justify-content: center;
        // justify-content: space-between;
        // padding: 0 2% 0 2%;

        // color: #fff;
        @include mobile-only {
            justify-content: space-between;
        }

        li {
            cursor: pointer;
            padding: 1em;
            border: 1px outset rgba(255, 255, 255, 0.603);
            border-radius: 5px;
            display: flex;
            align-items: center;

        }
    }
}