.active-btn {
    background: $btn-active;
    // width: 10%;
    border-radius: 5px;
    padding: 1em;
}

input[type=submit] {
    cursor: pointer;
}

.btn {
    background: red;
    width: 10%;
    border-radius: 5px;
}