.fa-spinner {
    font-size: 1.5em;
}

.card-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px 0 5px 0;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.card-contents {
    width: 100%;
    display: flex;
    flex-direction: column;




    .card-picture {
        border-radius: 0 0 20px 20px;
        object-fit: cover;
        width: 100%;

    }
}

.update-content-post,
.card-content,
.preview-content {
    border-top: 2px outset $border;
    border-left: 2px outset $border;
    border-right: 2px outset $border;
    border-bottom: 2px dotted $border;
    border-radius: 20px 20px 0 0;
    padding: 10px;
    word-wrap: break-word;
    hyphens: auto;
    text-align: left;


}

.card-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.comment-icon,
.like-container {
    display: flex;
    width: 3em;
    justify-content: space-around;
    align-items: center;
}

.edit-ctrl-container {
    display: flex;
    justify-content: space-between;
}

.comment-container {
    display: flex;


}

.comment-header {
    display: flex;
    justify-content: space-around;
}

article {
    width: 100%;
}

.update-post {
    textarea {

        width: 100%;
        border: none;
        padding: 0 5px 0 5px;
        overflow: auto;
        outline: none;
        resize: none;
        height: 100px;
    }

    // .update-btn-container{

    // }
}

.left-side {
    width: 10%;
}

// .card_content {

//     color: red;

// }
// .update-pic-post {
//     display: flex;

// }