.fa-spinner {
    font-size: 1.5em;
}

.card-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px 0 5px 0;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.card-contents {
    width: 100%;
    display: flex;
    flex-direction: column;

    .card-content {
        border-top: 2px outset rgba(29, 28, 28, 0.507);
        border-left: 2px outset rgba(29, 28, 28, 0.507);
        border-right: 2px outset rgba(29, 28, 28, 0.507);
        border-bottom: 2px dotted rgba(29, 28, 28, 0.507);
        border-radius: 20px 20px 0 0;
        padding: 10px;
    }

    .card-picture {
        border-radius: 0 0 20px 20px;
        object-fit: cover;
        width: 100%;

    }
}

.card-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.comment-icon,
.like-container {
    display: flex;
    width: 3em;
    justify-content: space-around;
    align-items: center;
}

.edit-ctrl-container {
    display: flex;
    justify-content: space-between;
}

.comment-container {
    display: flex;


}

.comment-header {
    display: flex;
    justify-content: space-around;
}

// .card_content {

//     color: red;

// }